<%- include('partials/head.ejs', {title: 'Home'}) %>
<body>
  <%- include('partials/navbar.ejs') %>
  <%- include('partials/pageHeader.ejs', {pageTitle: 'List All Course'}) %>
    <br>
    <div class="text-center">
        <div class="container">
            <div class="card">
                <div class="card body">
                    <div class="container">
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" class="btn btn-primary btn-lg"> <a href="/course/add" class="btn btn-primary btn-lg"> Add New Course</a></button>
                          </div>
                        <table class="table table-striped table-borderless table-dark">
                            <br>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Duration</th>
                                    <th>Category</th>
                                    <th>Details Course</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(el => { %>
                                    <tr>
                                        <td><%= el.title %></td>
                                        <td><%= el.duration %></td>
                                        <td><%= el.Category.title %></td>
                                        <td>
                                          <button> <a href="">See Details</a></button>
                                          <form action="/course/<%= el.id %>/delete" method="POST">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                          </form>
                                        </td>
                                        
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>